<header>
  <div class="hello-container">
    <p class="hello-icon">👋</p>
    <span class="hello-user">Olá, {{ username }}!</span>
  </div>
  <div class="profile-container">
    <div class="profile-content">
      <mat-icon class="profile-icon" aria-hidden="false" aria-label="person icon" fontIcon="account_circle"></mat-icon>
      <span class="profile-user">{{ username }}</span>
    </div>

    <div class="profile-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="arrow icon" fontIcon="keyboard_arrow_down"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToProfile()">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </div>
</header>
