header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background: var(--background);

  .hello-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
    padding: 24px;
    gap: 8px;

    .hello-icon {
      font-size: 16px;
    }

    .hello-user {
      font-size: 16px;
      color: var(--dark-text);
      font-weight: 600;
    }
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    padding: 24px;
    gap: 12px;

    .profile-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      gap: 4px;
      color: var(--dark-text);
  
      .profile-user {
        font-size: 16px;
        font-weight: 500;
        color: var(--medium-text);
      }
    }

    .profile-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      
      color: white;
      background-color: var(--blue-main);
      border-radius: 8px;
      cursor: pointer;
    }
  }
}