<app-login-component 
    title="Entre na sua conta" 
    primaryButtonText="Entrar" 
    secondaryButtonText="Cadastrar-se"
    (submit)="submit()"
    (navigate)="navigate()"
    >
    <form class="login-form" [formGroup]="loginForm">
        <app-primary-input-component
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="event@gmail.com">
            <mat-icon aria-hidden="false" aria-label="email icon" fontIcon="email"></mat-icon>
        </app-primary-input-component>
        <app-primary-input-component
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha">
            <mat-icon class="icon" aria-hidden="false" aria-label="password icon" fontIcon="lock"></mat-icon>
        </app-primary-input-component>
        <span class="forgot-password">Esqueceu sua senha?</span>
    </form>
</app-login-component>