<div class="events-container">
  <div class="events-header">
    <h2>Eventos</h2>
  </div>

  <div class="search-section">
    <mat-form-field class="search-field" appearance="outline">
      <mat-icon class="search-icon" matPrefix>search</mat-icon>
      <div class="input-container">
        <mat-chip-grid #chipGrid>
          <mat-chip *ngIf="selectedTheme" [removable]="true" (removed)="removeTheme()">
            {{selectedTheme}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-grid>
        <input matInput
               #searchInput
               [matChipInputFor]="chipGrid"
               [matAutocomplete]="auto"
               placeholder="{{ selectedTheme ? '' : 'Busque eventos...' }}"
               [(ngModel)]="searchTerm"
               (input)="onSearchInput($event)">
      </div>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onThemeSelected($event)">
        <mat-option *ngFor="let theme of filteredThemes" [value]="theme">
          {{theme}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-mini-fab class="add-button" (click)="onNewEventClick()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-chip-listbox class="chip-section">
    <mat-chip-option 
      [selected]="selectedChip === 'all'" 
      (click)="onChipSelect('all')">
      Ver Todos
    </mat-chip-option>
    
    <mat-chip-option 
      [selected]="selectedChip === 'mine'" 
      (click)="onChipSelect('mine')">
      Meus Eventos
    </mat-chip-option>
  </mat-chip-listbox>

  <div class="records-count">
    {{ totalElements }} eventos achados
  </div>

  <div class="events-list">
    <div *ngFor="let event of filteredEvents" class="event-item" (click)="onEventClick(event)">
      <h3>{{ event.title }}</h3>
      <p class="event-date">{{ event.theme }}</p>
    </div>
  </div>

  <div class="pagination-controls">
    <button mat-icon-button class="pagination-btn" (click)="goToPreviousPage()" [disabled]="currentPage === 0">
      <mat-icon>chevron_left</mat-icon>
    </button>
  
    <span class="pagination-text">Página {{ currentPage + 1 }} de {{ totalPages }}</span>
  
    <button mat-icon-button class="pagination-btn" (click)="goToNextPage()" [disabled]="currentPage === totalPages - 1">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  
</div>
