.login-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: auto;

    .login-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        width: 500px;
        max-width: 560px;
        min-width: 500px;

        flex-grow: 0.5;
        padding: 35px 35px;

        overflow-y: auto;
        scroll-behavior: smooth;

        .logo {
            margin-bottom: 30px;
        }

        .title {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 45px;
            color: var(--dark-text);
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 15px;

            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                padding: 12px 24px;
                background: transparent;
                cursor: pointer;
    
                &.btn-primary {
                    background-color: var(--blue-main);
                    color: white;
                }
    
                &.btn-secondary {                
                    border: 1px solid var(--blue-main);
                    color: var(--blue-main);
                }
            }

            .divider-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 10px;

                mat-divider {
                    flex-grow: 1;
                    border-color: var(--light-text);
                }

                span {
                    font-size: 12px;
                    color: var(--light-text);
                    text-transform: uppercase;
                }
            }
        }
    }

    .image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        gap: 8px;
        flex-grow: 1;
        background-color: var(--blue-light);

        .slogan {
            font-size: 24px;
            font-weight: 700;
            color: var(--light-text);
        }

        .event-ilustration {
            width: 450px;
            height: 240px;
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 1100px) {
        .image-section {
          display: none;
        }

        .login-section {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }

    // @media (min-width: 600px) {
    //     // .login-main {
    //     //     justify-content: center;
    //     //     align-items: center;
    //     // }
    
    //     .login-section {
    //         justify-content: center;
    //         //height: auto;
    //     }
    // }
}

/* Personalização da barra de rolagem */
.login-section::-webkit-scrollbar {
    width: 6px;
}

.login-section::-webkit-scrollbar-track {
    background: var(--blue-light);
}

.login-section::-webkit-scrollbar-thumb {
    background: var(--light-text);
    border-radius: 10px;
}

.login-section::-webkit-scrollbar-thumb:hover {
    background: var(--medium-text);
}